#title{
    font-family: sans-serif;
    display: flex;
    text-align: left;
    height: fit-content;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 2px;
     color: #00ffff;
    background-repeat: no-repeat;

}
   
    
body{
    background-color: rgba(113, 175, 216, 0.445);
    background-image: url(naruto-itachi-sharingan-eyes-wallpaper-preview-min.jpg);
    background-size: cover;
    color: aliceblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
   color: #00ffff;
}

#i{
color: inherit; color: rgb(29, 236, 150);
font-family: Georgia, 'Times New Roman', Times, serif;
}

.audio{
    display: flex;
    width: 300px;
    border: 2px solid #00ff40;
    border-radius: 550cap;
    padding: 1px;
}
#ii{
    color: rgb(255, 0, 242);
}

.yt{
    border: 20px;
    border-radius: 9px;
    padding: 1px;
    margin: 1px;
    border: 2px solid #a4a8e2;
    
}
.link-name{
    color: #00ffff;
}

.links{
    color: #b61781;
}

.video{
    height: 300px;
    width: 170px;
    display: -moz-stack;
    border: 2px solid rgb(27, 241, 213);
    margin: 5px;
    border-radius: 20px;
    
}

.description{
    color: rgb(222, 241, 137);
    padding: 2px;
    font-size: 22px;
    
}   
    
